.newsContainer {
   margin-bottom: 100px; 
}
.newsfeedContainer {
    max-height: 100vh;
    overflow-y: scroll;
}
.article-title {
    font-weight: bold;
}
.link-logo {
    float: right;
    height: 20px;
}
