.navbar-brand {
    height: 80px;
}
.brand-name {
    color: #4091D3;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.nav-item a {
    color: #fff;
    text-decoration: none;
}
.nav-item a:hover {
    color: #4091D3;
    text-decoration: none;
}